@import "./variable";
body{
    margin: 0%;
    padding: 0%;
    
    
}
.all{
    position: fixed;
    width: 100%;
    height: 90%;
    background-image: url(/breif2/img/interior.jpg);
    background-size: 1263px 700px;
    background-repeat: no-repeat;
    z-index: -1;

}



.top{
    background-color : $txtcolor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .middle_head{ 
        background-image: url(/breif2/img/logo.png);
        background-size: 260px 114px;
        width:20%;
        height: 100px;
        background-repeat: no-repeat;
    }
    .left_head{
        color: $bcolor;
        font-size: 12px;
        margin-left: 20px;
    }
    
}
.first{
    
    .f_background{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    .opaback{
        background-color: $txtcolor;
        opacity: 65%;
        width: 300px;
        height: 200px;
        border-radius: 15px;
        #b1{
            width: 150px;
            border-radius: 15px;
            height: 40px;
            margin-left: 69px;
            margin-top: 38px;
            border: 1px solid $bcolor;
        }
        #b2{
            width: 150px;
            height: 40px;
            border-radius: 15px;
            margin-top: 20px;
            margin-left: 69px;
            border: 1px solid $bcolor;
        }
    }
    
}
}
.foot{
    position: fixed;
  bottom: 0;
  right: 0;
   width: 100%;
   background: rgb(129,211,218);
   background: radial-gradient(circle, rgba(129,211,218,1) 0%, rgba(141,63,251,1) 100%);
    height: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    &__img{
        margin-top: 20px;
        margin-left: 10px;
    }
    &__txt{
        margin-top: 20px;
    }
    &__button{
        margin-top: 20px;
        margin-right: 10px;
        border-radius: 15px;
       
        #b1{
     font-size: 15px;
        border-radius: 15px;
        border: 1px solid $Color;
        background-color: $blcolor;
        cursor: pointer;
        }
        #b2{
            font-size: 15px;
            border-radius: 15px;
            border: 1px solid $Color;
            cursor: pointer;
        }
    }
}
.bac_img{
      display: grid;
      grid-template-columns: 400px 400px;
      grid-template-rows: 100px 100px 100px;
      justify-content: center;
      row-gap: 80px;
      column-gap: 100px;
    .back_img{
        background-color: rgba(249, 251, 252, 0.8);
        border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    height: 170px;
    .image1{
        background-image: url(/breif2/img/pizza.jpg);
        background-size: 188px 150px;
        width: 47%;
        height: 145px;
        background-repeat: no-repeat;
        border-radius: 15px;
        margin: 10px;
        
    }
    .paragraph1{
        background-color: $blcolor;
        height: 80px;
        width: 73%;
    }
    .h1{
        align-items: center;
        width: 49%;
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .image2{
        background-image: url(/breif2/img/hamburger.jpg);
        background-size: 188px 150px;
        width: 47%;
        height: 145px;
        background-repeat: no-repeat;
        border-radius: 15px;
        margin: 10px;
    }
    .image3{
        background-image: url(/breif2/img/Tcos.jpg);
        background-size: 188px 150px;
        width: 47%;
        height: 145px;
        background-repeat: no-repeat;
        border-radius: 15px;
        margin: 10px;
    }
    
}
#commander{
    border-radius: 15px;
    height: 50px;
    width: 40%;
    margin-left: 23rem;
}
}
.deliver{
    margin-top: 10px;
    background-color: #014B5D;
    opacity: 84%;
    height: 150px;
    .grenn{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 40px 40px;
        column-gap: 200px;
        justify-content: center;
        padding: 33px;
        .food{
            background-image: url(/breif2/img/restaurant.svg);
            background-size: 67px 38px;
        background-repeat: no-repeat;
        
        }
        .delivery{
            background-image: url(/breif2/img/food-delivery.svg);
            background-size: 67px 38px;
        background-repeat: no-repeat;
        }
        .quality{
            background-image: url(/breif2/img/juice.svg);
            background-size: 67px 38px;
        background-repeat: no-repeat;
        }
    }
}
.price{
margin-left: 200px;
    padding: 33px;
    &__background{

        justify-content: center;
        background-color: rgba(249, 251, 252, 0.8);
        padding: 33px;
        width: 80%;
        height: 150px;
        display: grid;
        grid-template-columns: 400px 100px;
        grid-template-rows: 100px;
        justify-content: center;
        border-radius: 15px;
    }
    &__pizza{
        background-image: url(/breif2/img/pizza.jpg);
        background-size: cover;
        background-position: center center;
        border-radius: 15px;
        width: 70%;
        height: 145px;
        background-repeat: no-repeat;

    }
}
.order{
    background-color: white;
    padding: 10px;
    &__background{
    position: relative;
    background-image: url(/breif2/img/drew.jpg.png);
    background-size: 100% 306px;
    background-repeat: no-repeat;
    height: 308px;
        &__button{
            position: absolute;
            top: 59%;
            left: 44%;
           
            #order{
            border-radius: 15px;
            height: 50px;
            width: 10rem;
            }
        }
        
    }
}

.footer{
    &__background{
        background-image: url(/breif2/img/background-foot.jpg);
        background-size: cover;
        background-position: center center;
        height: 600px;
        width: 100%;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 150px 200px 150px;
        justify-content: center;
        align-content: center;
        gap: 30px;
        &__head{
            background-color: rgba(249, 251, 252, 0.8);
            grid-area: 1/1/2/4;
        }
        &__card1{
            background-color: rgba(249, 251, 252, 0.8);
            grid-area: 2/1/3/2;
        }
        &__card2{
            background-color: rgba(249, 251, 252, 0.8);
            grid-area: 2/2/3/3;
        }
        &__card3{
            background-color: rgba(249, 251, 252, 0.8);
            grid-area: 2/3/3/4;
        }
        &__foot{
            background-color: rgba(249, 251, 252, 0.8);
            grid-area: 3/1/4/4;
        }
    }
    &__aboutus{
        &__back{
            margin: 10px;
        background-image: url(/breif2/img/abtt.png);
        background-size: cover;
        background-position: center center;
        border-radius: 15px;
        height: 500px;
    }
}
}