// menu
@import "scss/variable";
body{
    background-image: none;
    font-family: 'Bai Jamjuree', sans-serif;
}
.all{
    position: fixed;
    width: 100%;
    height: 90%;
    background-image: url(/breif2/img/interior.jpg);
    background-size: 1263px 700px;
    background-repeat: no-repeat;
    z-index: -1;

}
.top{
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    height: 80px;
    width: 77%;
    display: flex;
    justify-content: space-between;
    h1{
        margin-left: 2rem;
        color: chocolate;
    }
    .search{
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;
        input{
            border: 0.4px solid black;
            width: 80%;
            height: 40px;
            border-radius: 15px;
        }
        i{
            margin-left: -2rem;
        }
        .fas fa-search{
            margin-top: 1rem;
            cursor: pointer;
        }
        .contact{
            position: relative;
            display: inline-block;
            background-color: chocolate;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid black;
            cursor: pointer;
            margin: 0 1rem;
            .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                left: -37px;
                top: 43px;
                z-index: 1;
            }
            
            .tel{
                margin: 9px 6px;
                background-image: url(/breif2/img/phone-call.svg);
                background-size: 25px 21px;
                height: 30px;
                width: 30px;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }
        .contact:hover {
            background-color: rgba(210, 105, 30, 0.856);
            .tooltiptext{
            
            visibility: visible;
          
        }
     }
    }
}
.commande{
    background-image: none;
    background-color: white;
    border-radius: 15px;
    width: 20%;
    height: 500px;
    position: fixed;
    right: 0;
    top: 108px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
      
    h1{
        margin-left: 40px;
    }
    .passer{
        width: 100%;
        margin-left: 40px;
        margin-top: 200px;
        .pcommande{
            width: 80%;
            height: 60px;
            border-radius: 15px;
            color:#fff;
            border: none;
            background: chocolate;
            cursor: pointer;
        }
        .pcommande:hover{
            background: rgba(210, 105, 30, 0.925);
        }
    }
}
.b_img{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    row-gap: 30px;
    column-gap: 100px;
    margin-left: 12px;
  .back_img{
      background-color: rgba(249, 251, 252, 0.8);
      border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  height: 140px;
  .image1{
      background-image: url(/breif2/img/404.png);
      background-size: 188px 150px;
      width: 47%;
      height: 125px;
      background-repeat: no-repeat;
      border-radius: 15px;
      margin: 10px;
      
  }
  .paragraph1{
      
      p{
          font-size: 20px;
      }
  }
  .h1{
      
      width: 50%;
      display: flex;
      flex-direction: column;
      font-size: 9px;
  }
  .image2{
      background-image: url(/breif2/img/hamburger.jpg);
      background-size: 188px 150px;
      width: 47%;
      height: 125px;
      background-repeat: no-repeat;
      border-radius: 15px;
      margin: 10px;
  }
  
  
 }
}