// menu
@import "scss/variable";
body{
    font-family: 'Bai Jamjuree', sans-serif;
}
.all{
    position: fixed;
    width: 100%;
    height: 90%;
    background-image: url(/breif2/img/interior.jpg);
    background-size: 1263px 700px;
    background-repeat: no-repeat;
    z-index: -1;

}
.top{
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    height: 80px;
    width: 77%;
    display: flex;
    h1{
        margin-left: 10px;
        width: 30%;
        color: blue;
    }
    .search{
        margin-top: 15px;
        height: 40px;
        width: 62%;
        display: flex;
        input{
            border: 0.4px solid black;
            width: 60%;
            height: 40px;
            border-radius: 15px;
        }
        .contact{
            background-color: rgb(78, 165, 78);
            width: 40px;
            height: 40px;
            margin-left: 10px;
            border-radius: 50%;
            border: 1px solid black;
            cursor: pointer;
            .tele{
                margin-left: 2px;
                background-image: url(/breif2/img/telephone.png);
                background-size: cover;
                height: 20px;
                width: 20px;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }
    }
}
.commande{
    background-color: white;
    border-radius: 15px;
    width: 20%;
    height: 500px;
    position: fixed;
    right: 0;
    top: 108px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
      
    h1{
        margin-left: 40px;
    }
    .passer{
        width: 100%;
        margin-left: 40px;
        margin-top: 200px;
        .pcommande{
            width: 80%;
            height: 60px;
            border-radius: 15px;
            background: $Color;
            color:#fff;
            cursor: pointer;
        }
    }
}
.b_img{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    row-gap: 30px;
    column-gap: 100px;
    margin-left: 12px;
  .back_img{
      background-color: rgba(249, 251, 252, 0.8);
      border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  height: 140px;
  .image1{
      background-image: url(/breif2/img/pizza.jpg);
      background-size: 188px 150px;
      width: 47%;
      height: 125px;
      background-repeat: no-repeat;
      border-radius: 15px;
      margin: 10px;
      
  }
  .paragraph1{
      
      p{
          font-size: 20px;
      }
  }
  .h1{
      width: 50%;
      display: flex;
      flex-direction: column;
      font-size: 10px;
  }
  .image2{
      background-image: url(/breif2/img/hamburger.jpg);
      background-size: 188px 150px;
      width: 47%;
      height: 125px;
      background-repeat: no-repeat;
      border-radius: 15px;
      margin: 10px;
  }
  
  
 }
}