.header {
    justify-content: space-between;
    background-color: #C1E8FB;
    height: 100px;
.show{
    display: grid;
    grid-template-rows: 50px 20px;
    grid-template-columns: 80px 80px 80px;
    justify-content: flex-end;
    width: 50%;
    margin: 30px;
    &__profil{
        background-image: url(/breif2/img/user.svg);
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat;
    }
    &__menu{
        background-image: url(/breif2/img/menu.svg);
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat;
    }
    &__user{
        background-image: url(/breif2/img/group.svg);
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat;
    }
    #txt{
        font-size: 12px;
        color: #000;   
    }
}
}

