$myFont: Helvetica, sans-serif;
$Color: #4A004F;
$myFont: 20px;
$txtcolor: white;

body{
    margin: 0%;
    padding: 0%;
}

.top{
    background-color : $Color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .middle_head{
        font-size: $myFont;
        color: $txtcolor;
    }
    .left_head{
        color: $txtcolor;
        font-size: 12px;
        margin-left: 20px;
    }
    .right_head{
        margin: 12px;
    }
    
}
.first{
    .f_background{
    background-image: url("/img/oba\ fod\ im.png");
    background-size: 1263px 447px;
    background-repeat: no-repeat;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    
    
    
    
    
}
}


