body {
  margin: 0%;
  padding: 0%;
}

.all {
  position: fixed;
  width: 100%;
  height: 90%;
  background-image: url("/img/interior.jpg");
  background-size: 1263px 700px;
  background-repeat: no-repeat;
  z-index: -1;
}

.top {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top .middle_head {
  font-size: 20px;
  color: black;
}

.top .left_head {
  color: black;
  font-size: 12px;
  margin-left: 20px;
}

.first .f_background {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first .f_background .opaback {
  background-color: white;
  opacity: 65%;
  width: 300px;
  height: 200px;
  border-radius: 15px;
}

.first .f_background .opaback #b1 {
  width: 150px;
  border-radius: 15px;
  height: 40px;
  margin-left: 69px;
  margin-top: 38px;
  border: 1px solid black;
}

.first .f_background .opaback #b2 {
  width: 150px;
  height: 40px;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 69px;
  border: 1px solid black;
}

.foot {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #ADD1FC;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.foot__img {
  margin-top: 20px;
  margin-left: 10px;
}

.foot__txt {
  margin-top: 20px;
}

.foot__button {
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 15px;
}

.foot__button #b1 {
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #ADD1FC;
  background-color: #C1E8FB;
}

.foot__button #b2 {
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #ADD1FC;
}

.bac_img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px;
      grid-template-columns: 400px 400px;
  -ms-grid-rows: 100px 100px 100px;
      grid-template-rows: 100px 100px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 40px;
  -webkit-column-gap: 100px;
          column-gap: 100px;
}

.bac_img .back_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 4px solid black;
  width: 400px;
  height: 100px;
}

.bac_img .back_img .image1 {
  background-image: url(img/pizza.jpg);
  background-size: 194px 100px;
  width: 50%;
  height: 100px;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 3px;
}

.bac_img .back_img .paragraph1 {
  background-color: #C1E8FB;
}

.bac_img .back_img .h1 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
}

.bac_img .back_img .image2 {
  background-image: url(/img/hamburger.jpg);
  background-size: 194px 100px;
  width: 50%;
  height: 100px;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 3px;
}

.bac_img .back_img .image3 {
  background-image: url(/img/Tcos.jpg);
  background-size: 194px 100px;
  width: 50%;
  height: 100px;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 3px;
}

.deliver {
  background-color: #014B5D;
  opacity: 84%;
  height: 150px;
}

.deliver .grenn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
  -ms-grid-rows: 40px 40px;
      grid-template-rows: 40px 40px;
  -webkit-column-gap: 200px;
          column-gap: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 33px;
}

.deliver .grenn .food {
  background-image: url(/img/restaurant.svg);
  background-size: 67px 38px;
  background-repeat: no-repeat;
}

.deliver .grenn .delivery {
  background-image: url(/img/food-delivery.svg);
  background-size: 67px 38px;
  background-repeat: no-repeat;
}

.deliver .grenn .quality {
  background-image: url(/img/juice.svg);
  background-size: 67px 38px;
  background-repeat: no-repeat;
}

.price {
  margin-left: 200px;
  padding: 33px;
}

.price__background {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #C1E8FB;
  padding: 33px;
  width: 80%;
  height: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 100px;
      grid-template-columns: 400px 100px;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  justify-content: center;
}

.price__pizza {
  background-image: url(/img/pizza.jpg);
  background-size: 287px 100px;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.order__background {
  position: relative;
  background-image: url(/img/drew.jpg);
  background-size: 100% 300px;
  background-repeat: no-repeat;
  height: 300px;
}

.order__background__button {
  position: absolute;
  top: 80%;
  left: 45%;
}

.footer__background {
  background-color: #C1E8FB;
  height: 300px;
  width: 100%;
}
/*# sourceMappingURL=brief.css.map */