$myFont: Helvetica, sans-serif;
$Color: #ADD1FC;
$myFont: 20px;
$txtcolor: white;
$bcolor: black;
$buttcolor:#C1E8FB;
$blcolor:#C1E8FB;

body{
    margin: 0%;
    padding: 0%;
    
    
}
.all{
    position: fixed;
    width: 100%;
    height: 90%;
    background-image: url(img/interior.jpg);
    background-size: 1263px 700px;
    background-repeat: no-repeat;
    z-index: -1;

}



.top{
    background-color : $txtcolor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .middle_head{ 
        background-image: url(img/logo.png);
        background-size: 260px 114px;
        width:20%;
        height: 100px;
        background-repeat: no-repeat;
    }
    .left_head{
        color: $bcolor;
        font-size: 12px;
        margin-left: 20px;
    }
    
}
.first{
    
    .f_background{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    .opaback{
        background-color: $txtcolor;
        opacity: 65%;
        width: 300px;
        height: 200px;
        border-radius: 15px;
        #b1{
            width: 150px;
            border-radius: 15px;
            height: 40px;
            margin-left: 69px;
            margin-top: 38px;
            border: 1px solid $bcolor;
        }
        #b2{
            width: 150px;
            height: 40px;
            border-radius: 15px;
            margin-top: 20px;
            margin-left: 69px;
            border: 1px solid $bcolor;
        }
    }
    
}
}
.foot{
    position: fixed;
  bottom: 0;
  right: 0;
   width: 100%;
    background-color: $Color;
    height: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    &__img{
        margin-top: 20px;
        margin-left: 10px;
    }
    &__txt{
        margin-top: 20px;
    }
    &__button{
        margin-top: 20px;
        margin-right: 10px;
        border-radius: 15px;
       
        #b1{
     font-size: 15px;
        border-radius: 15px;
        border: 1px solid $Color;
        background-color: $buttcolor;
        cursor: pointer;
        }
        #b2{
            font-size: 15px;
            border-radius: 15px;
            border: 1px solid $Color;
            cursor: pointer;
        }
    }
}
.bac_img{
      display: grid;
      grid-template-columns: 400px 400px;
      grid-template-rows: 100px 100px 100px;
      justify-content: center;
      row-gap: 40px;
      column-gap: 100px;
    .back_img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 4px solid black;
    width: 400px;
    height: 100px;
    .image1{
        background-image: url(img/pizza.jpg);
        background-size: 194px 100px;
        width:50%;
        height: 100px;
        background-repeat: no-repeat;
        border-radius: 20px;
        margin: 3px;
        
    }
    .paragraph1{
        background-color: $blcolor;
        
    }
    .h1{
        width: 40%;
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .image2{
        background-image: url(img/hamburger.jpg);
        background-size: 194px 100px;
        width:50%;
        height: 100px;
        background-repeat: no-repeat;
        border-radius: 20px;
        margin: 3px;
    }
    .image3{
        background-image: url(img/Tcos.jpg);
        background-size: 194px 100px;
        width:50%;
        height: 100px;
        background-repeat: no-repeat;
        border-radius: 20px;
        margin: 3px;
    }
    
}

}
.deliver{
    background-color: #014B5D;
    opacity: 84%;
    height: 150px;
    .grenn{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 40px 40px;
        column-gap: 200px;
        justify-content: center;
        padding: 33px;
        .food{
            background-image: url(img/restaurant.svg);
            background-size: 67px 38px;
        background-repeat: no-repeat;
        
        }
        .delivery{
            background-image: url(img/food-delivery.svg);
            background-size: 67px 38px;
        background-repeat: no-repeat;
        }
        .quality{
            background-image: url(img/juice.svg);
            background-size: 67px 38px;
        background-repeat: no-repeat;
        }
    }
}
.price{
margin-left: 200px;
    padding: 33px;
    &__background{

        justify-content: center;
        background-color: $buttcolor;
        padding: 33px;
        width: 80%;
        height: 150px;
        display: grid;
        grid-template-columns: 400px 100px;
        grid-template-rows: 100px;
        justify-content: center;
    }
    &__pizza{
        background-image: url(img/pizza.jpg);
        background-size: 287px 100px;
        background-repeat: no-repeat;
        border-radius: 20px;

    }
}
.order{
    &__background{
    position: relative;
    background-image: url(img/drew.jpg.png);
    background-size: 100% 306px;
    background-repeat: no-repeat;
    height: 308px;
        &__button{
            position: absolute;
            top: 80%;
            left: 45%;
        }
        
    }
}

.footer{
    &__background{
        background-color: $blcolor;
        height: 300px;
        width: 100%;

    }
}
// dashboard
.header {
    display: flex;
    justify-content: space-between;
    background-color: $buttcolor;
    height: 100px;
.show{
    display: grid;
    grid-template-rows: 50px 20px;
    grid-template-columns: 80px 80px 80px;
    justify-content: flex-end;
    width: 50%;
    margin: 30px;
    &__profil{
        background-image: url("/img/user.svg");
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat;
    }
    &__menu{
        background-image: url("/img/menu.svg");
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat;
    }
    &__user{
        background-image: url("./img/group.svg");
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat;
    }
    #txt{
        font-size: 12px;
        color: #000;
        
        
    }
}
&__logo{
    background-image: url(img/logo.png);
    background-size: 213px 125px;
    width:  30%;
    height: 100px;
    background-repeat: no-repeat;
}
}
.body{
    display: flex;
    justify-content: space-around;
    .password{
        
        background-color: $buttcolor;
        border-radius: 15px;
        padding: 15px;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .profil{
        background-color: rgba(255,255,255,0.5);
        border-radius: 15px;
        width: 50%;
        height: 400px;
        display: flex;
        flex-direction: column;
       padding: 15px;
       margin: 15px;
    }
}
.image{
    background-image: url(img/interior.jpg);
    background-size: 1280px 900px;
   width: 100%;
   height: 510px;
    background-repeat: no-repeat;
    z-index: -1;
}

// login
.background{
    position: relative;
    background-image: url(img/interior.jpg);
    background-size: 1280px 900px;
   width: 100%;
   height: 610px;
   opacity: 0.5;
   z-index: -1;
}
.backopa{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 200px 60px 50px;
    justify-content: center;
    position: absolute;
    top: 30px;
     left: 26%;
    background-color: rgba(8, 50, 112, 0.4);
    width: 600px;
    height: 500px;
    border-radius: 15px;
    &__logo{
        justify-content: center;
        background-image: url(img/logo.png);
        background-size: 306px 198px;
        width: 230px;
        height: 172px;
         background-repeat: no-repeat;
         margin-left: 100px;

    }
    &__user{
        display: flex;
        justify-content: center;
        
    }
    &__pass{
        display: flex;
        justify-content: center;
    }
    &__button{
        justify-self: center;
    }
    #but:hover{
        opacity: 1;
    }
    p{
        font-size: 13px;
        text-decoration: underline;
        color: white;
        margin-left: 40px;
    }
    #but{
        margin-top: 25px;
        margin-left: 40px;
        opacity: 0.8;
        cursor: pointer;
        border-radius: 15px;
        width: 200px;
        height: 30px;
        background-color: blue;
        border: none;
    }
    input{
        opacity: 0.6;
        margin-left: 5px;
        height: 40px;
        margin-top: 2px;
    }
    .icon-user{
        background-image: url(img/user1.svg);
        background-size: 50px 50px;
         width: 50px;
         height: 50px;
         background-repeat: no-repeat;
        
    }
    .icon-pass{
        background-image: url(img/key.svg);
        background-size: 50px 50px;
         width: 50px;
         height: 50px;
         background-repeat: no-repeat;
        }
}
// menu
.fixed{
    background-color: $buttcolor;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__left{
        margin-top: -20px;
        background-image: url(img/logo.png);
        background-size: 196px 144px;
        width: 207px;
        height: 125px;
        background-repeat: no-repeat;
    }
    &__middle{
        margin-top: 30px;
        text-decoration: none;
    }
    &__right{
        margin: 10px;
        background-image: url(img/user-profil.svg);
        background-size: 33px 50px;
         width: 50px;
         height: 50px;
         background-repeat: no-repeat;
    }
}
.photo{
    background-image: url(img/pizza.jpg);
    background-size: 1160px 246px;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    margin-left: 50px;
    border-radius: 15px;
}
