html {
  scroll-behavior: smooth; }

body {
  margin: 0%;
  padding: 0%;
  font-family: 'Bai Jamjuree', sans-serif; }

.all {
  position: fixed;
  width: 100%;
  height: 90%;
  background-image: url(/breif2/img/interior.jpg);
  background-size: 1263px 700px;
  background-repeat: no-repeat;
  z-index: -2; }

.foot {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  background: #343a40;
  height: 60px;
  display: flex;
  justify-content: space-between;
  z-index: 1; }
  .foot .foot__img {
    margin-top: 12px;
    margin-left: 10px; }
    .foot .foot__img .fab fa-facebook {
      margin-top: 1rem;
      cursor: pointer; }
    .foot .foot__img .fab fa-twitter {
      color: #fff; }
    .foot .foot__img .fab fa-instagram {
      color: #fff; }
    .foot .foot__img i {
      margin: 0.5rem;
      color: #fff; }
  .foot__txt {
    margin: 10px; }
    .foot__txt a {
      text-decoration: none;
      font-size: 1.7rem;
      margin: 0.5rem;
      font-weight: bold;
      color: orangered; }
  .foot .foot__button {
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 15px; }
    .foot .foot__button #b2 {
      font-size: 15px;
      width: 5rem;
      height: 40px;
      border-radius: 15px;
      margin-top: -10px;
      border: 1px solid black;
      cursor: pointer; }
      .foot .foot__button #b2 p {
        font-size: 10px; }

.welcome {
  text-align: center;
  margin: 10px;
  color: white; }

.bac_img {
  margin: 20px;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto;
  justify-content: center;
  row-gap: 80px;
  column-gap: 100px; }
  .bac_img .back_img {
    background-color: rgba(249, 251, 252, 0.8);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    height: 170px; }
    .bac_img .back_img .image1 {
      background-size: 188px 150px;
      width: 47%;
      height: 145px;
      background-repeat: no-repeat;
      border-radius: 15px;
      margin: 10px; }
    .bac_img .back_img .paragraph1 {
      height: 80px;
      width: 73%; }
    .bac_img .back_img .h1 {
      align-items: center;
      width: 49%;
      display: flex;
      flex-direction: column;
      font-size: 10px; }

#commander {
  border-radius: 15px;
  height: 50px;
  width: 40%;
  border: none;
  color: #fff;
  background-color: #d2691e;
  margin-left: 23rem;
  cursor: pointer;
  transition: 0.5s; }

#commander:hover {
  background-color: rgba(210, 105, 30, 0.801); }

.deliver {
  margin-top: 10px;
  background-color: #014B5D;
  opacity: 84%;
  height: 150px; }
  .deliver .grenn {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 40px 40px;
    column-gap: 200px;
    justify-content: center;
    padding: 33px; }
    .deliver .grenn .food {
      background-image: url(/breif2/img/restaurant.svg);
      background-size: 67px 38px;
      background-repeat: no-repeat; }
    .deliver .grenn .delivery {
      background-image: url(/breif2/img/food-delivery.svg);
      background-size: 67px 38px;
      background-repeat: no-repeat; }
    .deliver .grenn .quality {
      background-image: url(/breif2/img/juice.svg);
      background-size: 67px 38px;
      background-repeat: no-repeat; }

.price {
  margin-left: 100px;
  padding: 33px; }
  .price__background {
    background-color: rgba(249, 251, 252, 0.8);
    padding: 23px;
    width: 88%;
    height: 150px;
    display: grid;
    grid-template-columns: 59% 27%;
    grid-template-rows: 170px;
    column-gap: 20px;
    border-radius: 15px; }
  .price__pizza {
    background-image: url(/breif2/img/drew.png);
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
    width: 100%;
    height: 163px;
    background-repeat: no-repeat; }
  .price p {
    text-align: center;
    font-size: 15px;
    margin-top: -2px; }

.footer__background {
  background-image: url(/breif2/img/background-foot.jpg);
  background-size: cover;
  background-position: center center;
  height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 100px 300px 50px;
  justify-content: center;
  align-content: center;
  gap: 30px; }
  .footer__background__head {
    background-color: rgba(249, 251, 252, 0.8);
    grid-area: 1/2/2/4; }
    .footer__background__head h1 {
      text-align: center; }
  .footer__background__card1 {
    background-image: url(/breif2/img/female-cook.jpg);
    grid-area: 2/1/3/2;
    background-size: cover;
    background-position: center center; }
  .footer__background__card1:hover {
    transform: scale(1.2); }
  .footer__background__card2 {
    background-image: url(/breif2/img/young-cook.jpg);
    grid-area: 2/2/3/3;
    background-size: cover;
    background-position: center center; }
  .footer__background__card2:hover {
    transform: scale(1.2); }
  .footer__background__card3 {
    background-image: url(/breif2/img/maid.jpg);
    grid-area: 2/3/3/4;
    background-size: cover;
    background-position: center center; }
  .footer__background__card3:hover {
    transform: scale(1.2); }
  .footer__background__card4 {
    background-image: url(/breif2/img/delivery-man.jpg);
    grid-area: 2/4/3/5;
    background-size: cover;
    background-position: center center; }
  .footer__background__card4:hover {
    transform: scale(1.2); }
  .footer__background__foot1 {
    background-color: rgba(249, 251, 252, 0.8);
    grid-area: 3/1/4/2; }
    .footer__background__foot1 p {
      text-align: center;
      font-size: 14px; }
  .footer__background__foot2 {
    background-color: rgba(249, 251, 252, 0.8);
    grid-area: 3/2/4/3; }
    .footer__background__foot2 p {
      text-align: center;
      font-size: 14px; }
  .footer__background__foot3 {
    background-color: rgba(249, 251, 252, 0.8);
    grid-area: 3/3/4/4; }
    .footer__background__foot3 p {
      text-align: center;
      font-size: 14px; }
  .footer__background__foot4 {
    background-color: rgba(249, 251, 252, 0.8);
    grid-area: 3/4/4/5; }
    .footer__background__foot4 p {
      text-align: center;
      font-size: 14px; }

.footer__aboutus {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.623); }
  .footer__aboutus__backcolr {
    background-color: rgba(210, 105, 30, 0.808);
    border-bottom-right-radius: 7rem;
    height: 600px;
    width: 100%;
    text-align: center;
    padding: 10px 0; }
  .footer__aboutus__back {
    position: absolute;
    top: 8rem;
    left: 4rem;
    width: 90%;
    background-image: url(/breif2/img/abtt.png);
    background-size: cover;
    background-position: center center;
    border-radius: 30px;
    height: 500px;
    background-repeat: no-repeat; }

@media screen and (max-width: 905px) {
  .bac_img {
    margin: 20px;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    justify-content: center;
    row-gap: 40px; }
  #commander {
    margin: 0 35%; }
  .footer__background {
    display: none;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    justify-content: center;
    row-gap: 20px; }
  .footer__head {
    grid-area: unset; }
  .footer__card1 {
    grid-area: unset; }
  .footer__foot1 {
    grid-area: unset; }
  .footer__card2 {
    grid-area: unset; }
  .footer__card3 {
    grid-area: unset; }
  .footer__card4 {
    grid-area: unset; }
  .footer__foot2 {
    grid-area: unset; }
  .footer__foot3 {
    grid-area: unset; }
  .footer__foot4 {
    grid-area: unset; } }

@media screen and (max-width: 790px) {
  .price__background {
    height: 150px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 170px; }
  .deliver .grenn {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 40px 40px;
    column-gap: 100px;
    justify-content: center;
    padding: 33px; } }

@media screen and (max-width: 550px) {
  .price {
    margin-left: 0; }
    .price p {
      margin-top: 1rem;
      font-size: 9px; }
  .deliver .grenn {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 40px 40px;
    column-gap: 50px;
    justify-content: center;
    padding: 33px; } }

.head {
  background: #343a40;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .head .header {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .head .header__logo {
      margin: 5px;
      height: 98px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center; }
      .head .header__logo .logo {
        background-image: url(/breif2/img/log.png);
        background-size: cover;
        background-position: center center;
        width: 200px;
        height: 57px;
        background-repeat: no-repeat; }
      .head .header__logo .tel p {
        color: #fff;
        font-size: 10px; }
    .head .header .show {
      display: grid;
      grid-template-rows: 50px 20px;
      grid-template-columns: 80px 80px 80px;
      justify-content: flex-end; }
      .head .header .show__home {
        background-image: url(/breif2/img/home.svg);
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat; }
      .head .header .show__contact {
        background-image: url(/breif2/img/contact.svg);
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat; }
      .head .header .show__About {
        background-image: url(/breif2/img/About.svg);
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat; }
      .head .header .show #txt {
        font-size: 12px;
        color: #fff; }

body {
  font-family: 'Bai Jamjuree', sans-serif; }

.background {
  position: relative;
  background-image: url(/breif2/img/interior.jpg);
  background-size: 1280px 900px;
  width: 100%;
  height: 610px;
  opacity: 0.5;
  z-index: -1; }

.backopa {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 120px 100px 60px 50px;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 26%;
  background-color: rgba(8, 50, 112, 0.397);
  width: 600px;
  height: 500px;
  border-radius: 15px; }
  .backopa .backopa__logo {
    justify-content: center;
    background-image: url(/breif2/img/log.png);
    background-size: 306px 198px;
    height: 122px;
    background-repeat: no-repeat;
    margin-left: 100px; }
  .backopa h1 {
    text-align: center; }
  .backopa .backopa__user {
    display: flex;
    justify-content: center;
    margin: 12px; }
  .backopa .backopa__pass {
    display: flex;
    justify-content: center; }
  .backopa .backopa__button {
    justify-self: center; }
  .backopa #but:hover {
    opacity: 1; }
  .backopa p {
    font-size: 12px; }
  .backopa #but {
    margin-top: 25px;
    margin-left: 169px;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 15px;
    width: 200px;
    height: 30px;
    background-color: chocolate;
    border: none; }
  .backopa input {
    opacity: 0.6;
    margin-left: 5px;
    height: 40px;
    margin-top: 2px; }
  .backopa .icon-user {
    background-image: url(/breif2/img/user1.svg);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat; }
  .backopa .icon-pass {
    background-image: url(/breif2/img/key.svg);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat; }
  .backopa .alert {
    margin-top: 12px;
    margin-left: 9rem;
    border-radius: 15px;
    background-color: rgba(252, 1, 1, 0.76);
    width: 50%;
    height: 30px;
    text-align: center; }

body {
  background-image: none;
  font-family: 'Bai Jamjuree', sans-serif; }

.all {
  position: fixed;
  width: 100%;
  height: 90%;
  background-image: url(/breif2/img/interior.jpg);
  background-size: 1263px 700px;
  background-repeat: no-repeat;
  z-index: -1; }

.top {
  margin: 10px;
  border-radius: 15px;
  background-color: white;
  height: 80px;
  width: 77%;
  display: flex;
  justify-content: space-between; }
  .top h1 {
    margin-left: 2rem;
    color: chocolate; }
  .top .search {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly; }
    .top .search input {
      border: 0.4px solid black;
      width: 80%;
      height: 40px;
      border-radius: 15px; }
    .top .search i {
      margin-left: -2rem; }
    .top .search .fas fa-search {
      margin-top: 1rem;
      cursor: pointer; }
    .top .search .contact {
      position: relative;
      display: inline-block;
      background-color: chocolate;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid black;
      cursor: pointer;
      margin: 0 1rem; }
      .top .search .contact .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        left: -37px;
        top: 43px;
        z-index: 1; }
      .top .search .contact .tel {
        margin: 9px 6px;
        background-image: url(/breif2/img/phone-call.svg);
        background-size: 25px 21px;
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        cursor: pointer; }
    .top .search .contact:hover {
      background-color: rgba(210, 105, 30, 0.856); }
      .top .search .contact:hover .tooltiptext {
        visibility: visible; }

.commande {
  background-image: none;
  background-color: white;
  border-radius: 15px;
  width: 20%;
  height: 500px;
  position: fixed;
  right: 0;
  top: 108px;
  display: flex;
  flex-direction: column;
  align-content: space-between; }
  .commande h1 {
    margin-left: 40px; }
  .commande .passer {
    width: 100%;
    margin-left: 40px;
    margin-top: 200px; }
    .commande .passer .pcommande {
      width: 80%;
      height: 60px;
      border-radius: 15px;
      color: #fff;
      border: none;
      background: chocolate;
      cursor: pointer; }
    .commande .passer .pcommande:hover {
      background: rgba(210, 105, 30, 0.925); }

.b_img {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto;
  row-gap: 30px;
  column-gap: 100px;
  margin-left: 12px; }
  .b_img .back_img {
    background-color: rgba(249, 251, 252, 0.8);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    height: 140px; }
    .b_img .back_img .image1 {
      background-image: url(/breif2/img/404.png);
      background-size: 188px 150px;
      width: 47%;
      height: 125px;
      background-repeat: no-repeat;
      border-radius: 15px;
      margin: 10px; }
    .b_img .back_img .paragraph1 p {
      font-size: 20px; }
    .b_img .back_img .h1 {
      width: 50%;
      display: flex;
      flex-direction: column;
      font-size: 9px; }
    .b_img .back_img .image2 {
      background-image: url(/breif2/img/hamburger.jpg);
      background-size: 188px 150px;
      width: 47%;
      height: 125px;
      background-repeat: no-repeat;
      border-radius: 15px;
      margin: 10px; }

body {
  font-family: 'Bai Jamjuree', sans-serif; }

.background {
  position: relative;
  background-image: url(/breif2/img/interior.jpg);
  background-size: 1280px 900px;
  width: 100%;
  height: 610px;
  opacity: 0.5;
  z-index: -1; }

.opacityback {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 145px 53px 63px;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 20%;
  background-color: rgba(8, 50, 112, 0.397);
  width: 800px;
  height: 500px;
  border-radius: 15px; }
  .opacityback__logo {
    justify-content: center;
    background-image: url(/breif2/img/log.png);
    background-size: 306px 198px;
    width: 230px;
    height: 172px;
    background-repeat: no-repeat;
    margin-left: 100px; }
  .opacityback__button {
    justify-self: center; }
    .opacityback__button #but:hover {
      opacity: 1; }
    .opacityback__button #but {
      margin-left: 3rem;
      opacity: 0.8;
      cursor: pointer;
      border-radius: 15px;
      width: 200px;
      height: 30px;
      background-color: blue;
      border: none; }
  .opacityback .annuler {
    width: 600px; }
    .opacityback .annuler #button {
      float: right;
      opacity: 0.8;
      cursor: pointer;
      border-radius: 15px;
      width: 100px;
      height: 30px;
      background-color: white;
      border: none; }
      .opacityback .annuler #button a {
        text-decoration: none; }

body {
  font-family: 'Bai Jamjuree', sans-serif;
  position: relative;
  background-image: url(/breif2/img/interior.jpg);
  background-size: 1280px 900px;
  width: 100%;
  height: 610px; }

.alt {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .alt .topp {
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: space-between; }
    .alt .topp h1 {
      margin-left: 2rem;
      color: #343a40; }
    .alt .topp .searchh {
      margin-top: 1rem;
      display: flex;
      justify-content: space-around;
      width: 60%; }
      .alt .topp .searchh input {
        border: 0.4px solid black;
        width: 70%;
        height: 40px;
        border-radius: 15px; }
      .alt .topp .searchh .addp {
        width: 40%;
        display: flex; }
        .alt .topp .searchh .addp a {
          margin-left: 1rem;
          text-decoration: none;
          color: #000; }
  .alt table {
    padding: 20px;
    width: 80%; }
    .alt table tr {
      height: 30px;
      background-color: white;
      text-align: center; }
      .alt table tr th {
        background-color: rgba(255, 255, 255, 0.383);
        width: 15%;
        border: 1.5px solid blue;
        color: #000; }

body {
  font-family: 'Bai Jamjuree', sans-serif; }

.image .body {
  background-image: url(/breif2/img/interior.jpg);
  background-size: 1280px 900px;
  width: 100%;
  height: 510px;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  justify-content: space-around; }
  .image .body .password {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 15px;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px; }
    .image .body .password #changer {
      margin-top: 25px;
      margin-left: 120px;
      color: white;
      opacity: 0.8;
      cursor: pointer;
      border-radius: 15px;
      width: 200px;
      height: 30px;
      background-color: blue;
      border: none; }
  .image .body .profil {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px; }

.heads {
  background: #343a40;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .heads .headers {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .heads .headers__logo {
      margin: 5px;
      height: 98px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center; }
      .heads .headers__logo .logo {
        background-image: url(/breif2/img/log.png);
        background-size: cover;
        background-position: center center;
        width: 200px;
        height: 57px;
        background-repeat: no-repeat; }
      .heads .headers__logo .tel p {
        color: #fff;
        font-size: 10px; }
    .heads .headers .show {
      display: grid;
      grid-template-rows: 50px 20px;
      grid-template-columns: 80px 80px 80px 80px;
      justify-content: flex-end; }
      .heads .headers .show__profil {
        background-image: url(/breif2/img/user.svg);
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat; }
      .heads .headers .show__menu {
        background-image: url(/breif2/img/menu.svg);
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat; }
      .heads .headers .show__logout {
        background-image: url(/breif2/img/logout.svg);
        background-size: 26px 55px;
        width: 30%;
        height: 50px;
        background-repeat: no-repeat; }
      .heads .headers .show__inbox {
        background-image: url(/breif2/img/inbox.svg);
        background-size: 26px 55px;
        width: 30%;
        height: 50px;
        background-repeat: no-repeat; }
      .heads .headers .show #txt {
        font-size: 12px;
        color: #fff; }

body {
  font-family: 'Bai Jamjuree', sans-serif; }

.input {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 15px;
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 11rem;
  justify-content: center;
  align-items: center; }
  .input #changer {
    margin-top: 25px;
    margin-left: 120px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 15px;
    width: 200px;
    height: 30px;
    background-color: blue;
    border: none; }

.leftside {
  margin: 2rem;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 50px 40px 40px 40px 20px 132px 20px;
  gap: 15px; }
  .leftside input {
    opacity: 0.7;
    border: 1px solid chocolate;
    border-radius: 4px;
    height: 30px; }
  .leftside #textarea {
    opacity: 0.8;
    border: 1px solid chocolate;
    border-radius: 4px; }
  .leftside #send {
    width: 20%;
    margin-left: 15rem;
    color: #fff;
    background-color: chocolate;
    height: 30px;
    border-radius: 14px;
    opacity: 1;
    border: none; }
  .leftside #send:hover {
    opacity: 0.8; }
  .leftside label {
    font-size: 18px; }
  .leftside .msg {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 15px; }

table {
  margin: 0 auto;
  justify-items: center;
  padding: 20px;
  width: 80%; }
  table tr {
    height: 30px;
    background-color: white;
    text-align: center; }
    table tr th {
      background-color: rgba(255, 255, 255, 0.383);
      width: 15%;
      color: #000;
      border: 1.5px solid chocolate; }
    table tr td {
      border: 1.5px solid chocolate; }
      table tr td p {
        font-size: 12px;
        text-align: start; }

.head {
  background: #343a40;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .head .header {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .head .header__logo {
      margin: 5px;
      height: 98px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center; }
      .head .header__logo .logo {
        background-image: url(/breif2/img/log.png);
        background-size: cover;
        background-position: center center;
        width: 200px;
        height: 57px;
        background-repeat: no-repeat; }
      .head .header__logo .tel p {
        color: #fff;
        font-size: 10px; }
    .head .header .grid {
      display: grid;
      grid-template-rows: 50px 20px;
      grid-template-columns: 80px 80px;
      justify-content: flex-end; }
      .head .header .grid__home {
        background-image: url(/breif2/img/home.svg);
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat; }
      .head .header .grid__contact {
        background-image: url(/breif2/img/contact.svg);
        background-size: 26px 55px;
        width: 30%;
        height: 100px;
        background-repeat: no-repeat; }
      .head .header .grid #txt {
        font-size: 12px;
        color: #fff; }
